<Html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<h1> welcome to index </h1>
<a href ="/new" class="btn btn-primary" role="button"> Add students </a>

<table border= "1"  width = "100%" class="table table-striped">
      <thead>
        <tr>
        <td> ID </td>
        <td> Name </td>
        <td> Address </td>
        <td> marks </td>
        </tr>
       </thead>
       
       <tr th:each="student: ${listStudents}">
       <td th:text="${student.id}" />
       <td th:text="${student.name}" />
       <td th:text="${student.address}" />
       <td th:text="${student.marks}" />
      </tr>
</table>
</body>
</Html>